@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828588: #828588;
  --color-3d464d: #3d464d;
  --color-ced4da: #ced4da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
  overflow-y: scroll;
  background-color: transparent !important;
}

main::-webkit-scrollbar {
  width: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin-bottom: 0;
}

.w-80 {
  width: 80% !important;
}

.w-15 {
  width: 20% !important;
}

.green {
  color: var(--color-47ad24);
}

.red {
  color: var(--color-e52e2e);
}

label {
  margin-bottom: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
}

label.form-label {
  margin-bottom: 1px !important;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: var(--color-ced4da);
  box-shadow: 0 0 3px 2px var(--color-ced4da);
  border-radius: 1px;
}

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  margin: 0;
  background: #ffd333;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.ant-layout {
  min-height: 100vh;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #ffd333;
  color: black;
  text-decoration: none !important;
}

.icon-size {
  font-size: 18px !important;
}

.ant-menu-title-content {
  margin-top: 3px !important;
}

.ant-layout-header h5 {
  line-height: 30px;
  font-size: 15px;
  font-weight: 700;
}

.ant-layout-header p {
  line-height: 20px;
  font-size: 14px;
}

.badge {
  display: flex;
  align-items: center;
  right: -1px;
  top: 13px;
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 50%;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  border: 0;
  outline: 0;
  box-shadow: 0 1px 3px #00000026;
}

.error {
  color: var(--color-e52e2e);
  font-size: 13px;
}

.accordion-button,
.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
  background-color: transparent !important;
  border: none !important;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px !important;
}

.jodit-workplace {
  height: 300px !important;
}

.title {
  font-size: 28px;
}

.sub-title {
  font-size: 24px;
}

.saw-pulse__counter {
  background: #d9ecff;
  border-radius: 0.125rem;
  color: #004b9a;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  padding: 1.5rem 1.25rem;
  text-align: center;
}

.active-page > div {
  border-bottom: 1px solid var(--color-ced4da);
  padding: 8px 0;
}

.active-page > div > p:nth-child(1) {
  cursor: pointer;
}

.active-page > div > p:nth-child(1):hover {
  text-decoration: underline;
}

.ant-select-selector {
  border-radius: 0 !important;
  padding: 5px !important;
}

.ant-select-selection-item {
  border-radius: 2px !important;
}
