@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
  --color-ced4da: #ced4da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

a {
  text-decoration: none;
  display: inline-block;
  /* color: white; */
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--color-bf4800) !important;
}

.form-floating{
  height: 30px;
}

label{
  font-size: 14px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}

.form-control{
  font-size: 13px !important;
  height: 55px;
  resize: none !important;
}

textarea{
  height: auto !important;
}

.gap-5 {
  gap: 5px !important;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}

.border-bottom {
  border-bottom: 1px solid #0000001a;
}

.radius-10 {
  border-radius: 10px;
}

.w-full {
  width: 100% !important;
}

.card-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.rounded-circle {
  width: 25px;
  height: 25px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}

/* Header Part */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper.header-upper-links img {
  height: 30px;
  width: 30px;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .menu-links a:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px);
}

.header-bottom .dropdown-item {
  padding: 10px 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

/* Footer Part */

footer {
  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid var(--color-3b4149);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  cursor: pointer;
}

/* Home Part */

.main-banner-content {
  top: 10%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 52px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}

.small-banner {
  width: 49%;
}

.small-banner-content {
  top: 25%;
  left: 5%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

/* Blog Card */

.blog-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 15px;
}

.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}

.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921);
}

.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}

.single-blog-card a {
  font-size: 15px;
  color: var(--color-777777);
  margin-bottom: 20px;
}

.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.single-blog-card p {
  color: var(--color-777777);
  font-size: 14px;
}

/* Product Card */

.product-card {
  width: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.product-card .product-image {
  height: 270px;
}

.product-card .product-image img {
  height: 100%;
  object-fit: cover;
}

.product-card .product-image > img:last-child {
  display: none;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image > img:last-child {
  display: block;
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.product-card .product-details p.description {
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
}

.action-bar {
  top: 10%;
  right: -19px;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .action-bar {
  right: 13px;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}

/* special-product-card */

.special-product-card {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

/* famous-card */

.famous-card {
  height: 405px;
  background-color: white;
}

.famous-card img {
  border-radius: 10px;
}

.famous-card .famous-content {
  padding: 20px;
}

.famous-card .famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 7px;
}

.famous-card .famous-content h6 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
}

.famous-card .famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}

/* Our Store */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px 25px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.filter-card .form-check-label {
  color: var(--color-777777);
  font-size: 13px;
  cursor: pointer;
  line-height: 24px;
}

.sub-title,
.filter-card {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 20px;
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
}

.product-tags span {
  cursor: pointer;
  user-select: none;
}

.random-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}

.random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.grid img {
  width: 29px;
  height: 29px;
  background-color: #ededed;
  padding: 8px;
  border-radius: 3px;
}
.gr-12 {
  width: 100%;
}

.gr-12 .product-card {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 20px;
}

.gr-12 .product-card .product-image {
  height: 170px;
}

.gr-12 .product-image img {
  height: 100%;
}

.gr-12 .action-bar {
  top: 17%;
}

.gr-6 {
  width: 49.4%;
}

.gr-4 {
  width: 32.6%;
}

.gr-6 .product-image {
  width: 100%;
}

.gr-6 .product-image img {
  margin: auto;
  display: block;
}

.gr-3 {
  width: 24.2%;
}

/* Contact */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}

.contact-inner-wrapper > div {
  width: 48%;
}

.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
}

.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}

.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.compare-product-card h5.title,
.wishlist-card .title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
  cursor: pointer;
}

.compare-product-card h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #0000001a;
}

.compare-product-card .product-detail h5 {
  font-size: 16px;
  color: var(--color-1c1c1b);
  margin-bottom: 0;
}

/* Auth card */
.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}

.auth-card p {
  font-size: 13px;
  color: var(--color-777777);
}

.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}

.auth-card div a.signup {
  color: white;
}

/* Term And Conditions */

.policy {
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.description-wrapper h4,
.reviews-wrapper h4 {
  font-size: 26px;
  margin-bottom: 10px;
  color: var(--color-1c1c1b);
}

.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
}

.review-inner-wrapper {
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.review-head,
.review-form {
  border-bottom: 1px solid #0000001a;
  padding-bottom: 20px;
}

.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}

.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}

.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}

.review:not(:last-child) {
  border-bottom: 1px solid #0000001a;
}

.review p {
  font-size: 14px;
  color: var(--color-777777);
}

.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.main-product-image > div {
  border: 1px solid #0000001a;
}

.main-product-image > img {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}

.other-product-images {
  background-color: white;
  padding: 20px;
}

.other-product-images > div {
  padding: 20px;
  width: 48.7%;
  border: 1px solid #0000001a;
}

.main-product-image .js-image-zoom__zoomed-image {
  left: 40px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 9999999;
}

.main-product-details {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}

.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.main-product-details a.review-btn,
.main-product-details p.t-review {
  font-size: 13px;
  color: var(--color-777777);
}

.main-product-details .badge {
  background-color: var(--color-ededed);
}

.main-product-details .badge p,
.main-product-details span.badge {
  font-size: 13px;
  font-weight: 500;
  color: var(--color-777777);
  cursor: pointer;
}

.product-heading,
.accordion-header button {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: var(--color-1c1c1b) !important;
  margin-bottom: 0;
}

.product-data {
  font-size: 13px;
  color: var(--color-777777);
  margin-bottom: 1px;
}

.main-product-details button.button {
  width: 150px;
  font-size: 13px;
}

.main-product-details a {
  font-size: 14px;
  color: var(--color-777777);
}

.main-product-details button.button:nth-child(2) {
  background-color: var(--color-febd69);
  color: var(--color-1c1c1b);
  transition: all 0.3s ease-in-out;
}

.main-product-details button.button:nth-child(2):hover {
  background-color: var(--color-232f3e);
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

/* cart */

.cart-header,
.cart-data {
  border-bottom: 1px solid #0000001a;
}

.cart-header h4 {
  font-size: 14px;
  color: var(--color-777777);
  text-transform: uppercase;
}

.cart-col-1 {
  width: 40%;
}

.cart-col-1 p {
  color: var(--color-777777);
  font-size: 14px;
}

.cart-col-2 {
  width: 10%;
}

.cart-col-3 {
  width: 15%;
}

.cart-col-4 {
  width: 15%;
}

.cart-col-4 .delete {
  background-color: #e2e2e2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-col-4 .delete svg {
  font-size: 22px;
  color: #ff0505;
}

.cart-data h5.price {
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0;
}

.checkout-left-data {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.checkout-wrapper .badge-image span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-777777);
}

.total {
  font-size: 16px !important;
  color: var(--color-1c1c1b) !important;
}

.total-price {
  font-size: 16px;
  color: var(--color-777777);
}
